<html lang="en">
<style>
#main{
    padding: 20px 20px;
    background-color: #F0F8FF;
    overflow: scroll;
    font-family: "Optima", Helvetica, sans-serif; 
    width: 1180px; 
    margin: auto auto; 

}
#text{
	float: left;
	width: 400px;
	font-size: 18px; 
	text-align: center; 
	padding: 130px 0px; 
	margin: 0px 20px;
	border: 5px solid black;
}
#video{
	float: left;
	padding: 10px;
	border: 5px solid black;
	width: 672px; 
	height: 378px; 
	display: block;
}
a{
}
</style>
<head>
	<meta charset="UTF-8">
	<title>Cher's Closet</title>
</head>
<body background="https://s-media-cache-ak0.pinimg.com/736x/4b/99/1a/4b991a18a070d4d84dd77408ac92c074.jpg">
</body>
		
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'header.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'filters.css' %}" />

	<header>
		<h1>
			<b><center>Cher's Closet</center></b>
		</h1>
		
		<div class = 'nav'>
		<ul>
		<li><a href="{% url "home" %}">HOME</a></li>
		<li><a href="{% url "about" %}">OUR INSPIRATION</a></li>
		<li><a href = "{% url "browse_products" %}">BROWSE PRODUCTS</a></li>
		<li><a href = "{% url "browse_outfits" %}">BROWSE OUTFITS</a></li>
		<li><a href = "{% url "my_closet" %}">MY CLOSET</a></li>
		</ul>
	</div>
	</header>

	<div id = "main">
	<span id="text">
	This website was designed in dedication to "Clueless", a classic 90's movie. Based on a database project, and originally a joke idea, this website is the fruition of three students in a database systems course. Watch the video to witness our inspiration! <a href = "https://www.tastersclub.com/">Cheers!</a> 
	</span>
	<!--
	<a href= "http://www.imdb.com/title/tt0112697/">
	<img id="logo" src = "http://vignette1.wikia.nocookie.net/logopedia/images/2/25/Clueless_Logo.png/revision/latest?cb=20151114012714" width = "200" height = "110"></a>
	-->
	<iframe id="video" src="https://www.youtube.com/embed/XNDubWJU0aU" frameborder="0" allowfullscreen></iframe>
	
	</div>

</body>
</html>