<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Cher's Closet</title>
</head>

</body>

	<div class = "container">
		
	<h1 class = "header">
		<font face= "courier new">
		<b><center>
		Welcome to Cher's Closet!! ~Inspired by~ </center><div id = "content">
		<a href= "http://www.imdb.com/title/tt0112697/">
		<center><img src = "http://vignette1.wikia.nocookie.net/logopedia/images/2/25/Clueless_Logo.png/revision/latest?cb=20151114012714" width = "200" height = "110"></center></a>
		</div>
		</b>
		</font>
	</h1>

	<div class = 'nav'>
		<font face = "courier new">
		<a href="home.html">Home</a>
		<a href = "browse_products.html">Browse Products</a>
		<a href = "my_account.html">My Account</a>
		</font>
	</div>
	<div id = "sidebar">
		<font face = "courier new" color = "white">
			<center>
			<p><a href = "create_new_closet.html">~Create a new closet~</a></p>
			<p><a href = "view_closet.html">~View a closet~</a></p>

			<p><a href = "create_new_outfit.html">~Create a New Outfit~</a></p>

		</center>
		</font>
	</div>
	<center>
		This is the account homepage, where a user can view their closet, or create one. They can also see suggestion? for them?

	</center>
	</center>
	</div>

</body>
</html>