<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Cher's Closet</title>
</head>

</body>

	<div class = "container">

	<h1 class = "header">
		<font face= "courier new">
		<b><center>
		Welcome to Cher's Closet!! ~Inspired by~ </center><div id = "content">
		<a href= "http://www.imdb.com/title/tt0112697/">
		<center><img src = "http://vignette1.wikia.nocookie.net/logopedia/images/2/25/Clueless_Logo.png/revision/latest?cb=20151114012714" width = "200" height = "110"></center></a>
		</div>
		</b>
		</font>
	</h1>
	
	<div class = 'nav'>
		<font face = "courier new">
		<a href="{% url "home" %}">Home</a>
		<a href = "{% url "browse_products" %}">Browse Products</a>
		<a href = "my_account.html">My Account</a>
		</font>
	</div>
	<div id = "sidebar">
		<font face = "courier new" color = "white">
			<center>
			<p>Browse by</p>
			<p>~Type~</p>
			<p>~Color~</p>
			<p>~Brand~</p>
			<p>~Price~</p>
			<p>~Gender~</p>
		</center>
		</font>
	</div>
	</div>


</body>
</html>