<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Cher's Closet</title>
</head>

<body background="https://previews.123rf.com/images/cienpies/cienpies1508/cienpies150800019/43200896-Retro-vintage-80s-memphis-fashion-style-seamless-pattern-illustration-background-Ideal-for-fabric-de-Stock-Vector.jpg">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'header.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'filters.css' %}" />
</body>
	<div class = "container">

	<header>
		<h1>
			<b><center>Cher's Closet</center></b>
		</h1>
		
		<div class = 'nav'>
		<ul>
		<li><a href="{% url "home" %}">HOME</a></li>
		<li><a href="{% url "about" %}">OUR INSPIRATION</a></li>
		<li><a href = "{% url "browse_products" %}">BROWSE PRODUCTS</a></li>
		<li><a href = "{% url "browse_outfits" %}">BROWSE OUTFITS</a></li>
		<li><a href = "{% url "my_closet" %}">MY CLOSET</a></li>
		</ul>
		</div>
	</header>

	<div id="main">

	<div id = "filter">
		<p>Select desired outfit filters: </p>
		<form action="/filterOutfits/" method="get">
		<fieldset>
			    <legend>Season</legend>

			    {% for i in results.0 %}
			    <input id="season" type="checkbox" name="seasons[]" value="{{ i }}" />{{ i }}<br>
			    {% endfor %}

		</fieldset>
	  	<fieldset>
			    <legend>Occasion</legend>

			    {% for j in results.1 %}
			    <input id="occasion" type="checkbox" name="occasions[]" value="{{ j }}" />{{ j }}<br>
			    {% endfor %}
			 	
		</fieldset>
		<fieldset>
			    <legend>Total Outfit Price</legend>

			    {% for k in results.2 %}
			    <input id="totalprice" type="checkbox" name="totalprices[]" value="{{ k }}" />{{ k }}<br>
			    {% endfor %}
			 	
		</fieldset>
		<input type="submit" value="FILTER">

		</form>
 	</div>

	</div>

	</div>
</body>
</html>
