<html lang="en">
<style>
.background{
	background-image: url("http://media.istockphoto.com/vectors/retro-80s-seamless-pattern-background-vector-id484670778?k=6&m=484670778&s=170667a&w=0&h=DEZLCfAxNFNcbrKHlqSPraV_bCVMdH8JphruHsWUQOc="); 
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 50%;
    z-index: -1; 
}
</style>
<head>
	<meta charset="UTF-8">
	<title>Cher's Closet</title>
	
</head>


{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'header.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'filters.css' %}" />

<div class="background">
<body > </body>
</div>
	
	<div class = "container">

	<header>
		<h1>
			<b><center>Cher's Closet</center></b>
		</h1>
		
		<div class = 'nav'>
		<ul>
		<li><a href="{% url "home" %}">HOME</a></li>
		<li><a href="{% url "about" %}">OUR INSPIRATION</a></li>
		<li><a href = "{% url "browse_products" %}">BROWSE PRODUCTS</a></li>
		<li><a href = "{% url "browse_outfits" %}">BROWSE OUTFITS</a></li>
		<li><a href = "{% url "my_closet" %}">MY CLOSET</a></li>
		</ul>
	</div>
	</header>
	
	<div id="main">

	<div id = "filter">
		<p>Select desired product filters: </p>
		<form action="/filterProducts/" method="get">
		<fieldset>
			    <legend>Gender</legend>

			    {% for m in results.3 %}
			    <input id="type" type="checkbox" name="genders[]" value="{{ m }}" />{{ m }}<br>
			    {% endfor %}

		</fieldset>
		<fieldset>
			    <legend>Type</legend>

			    {% for i in results.0 %}
			    <input id="type" type="checkbox" name="types[]" value="{{ i }}" />{{ i }}<br>
			    {% endfor %}

		</fieldset>
	  	<fieldset>
			    <legend>Brand</legend>

			    {% for j in results.1 %}
			    <input id="brand" type="checkbox" name="brands[]" value="{{ j }}" />{{ j }}<br>
			    {% endfor %}
			 	
		</fieldset>
		<fieldset>
			    <legend>Price</legend>

			    {% for k in results.2 %}
			    <input id="price" type="checkbox" name="prices[]" value="{{ k }}" />{{ k }}<br>
			    {% endfor %}
			 	
		</fieldset>
		<input type="submit" value="FILTER">

		</form>
 	</div>

	</div>

	</div>
</body>
</html>
