<html lang="en">
<style>
#main{
	margin: 0 auto;
	background-color: #F0F8FF;
}
#main span{
	margin: 30px;
	font-size: 25px; 
	font-family: "Optima", Helvetica, sans-serif; 
	color: black; 
}
</style>

<head>
	<meta charset="UTF-8">
	<title>Cher's Closet</title>
</head>
<body background="https://previews.123rf.com/images/cienpies/cienpies1508/cienpies150800019/43200896-Retro-vintage-80s-memphis-fashion-style-seamless-pattern-illustration-background-Ideal-for-fabric-de-Stock-Vector.jpg"> </body>

	<div class="container">

	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'header.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'filters.css' %}" />

	<header>
		<h1>
			<b><center>Cher's Closet</center></b>
		</h1>
		
		<div class = 'nav'>
		<ul>
		<li><a href="{% url "home" %}">HOME</a></li>
		<li><a href="{% url "about" %}">OUR INSPIRATION</a></li>
		<li><a href = "{% url "browse_products" %}">BROWSE PRODUCTS</a></li>
		<li><a href = "{% url "browse_outfits" %}">BROWSE OUTFITS</a></li>
		<li><a href = "{% url "my_closet" %}">MY CLOSET</a></li>
		</ul>
	</div>
	</header>

	<div id = "main">
		<span>Choose a closet:</span>
		<form action="/viewCloset/" method="get">
			 <input name="closetid" type="text"> 
			 <input type="submit" value="Display Closet">
		</form>
	</div>

	</div>
</body>
</html>