<html lang="en">
<style>
#text{
	margin: 20px;
	font-size: 25px; 
	font-family: "Optima", Helvetica, sans-serif; 
	color: black; 
}
.background{
	background-image: url("http://media.istockphoto.com/vectors/retro-80s-seamless-pattern-background-vector-id484670778?k=6&m=484670778&s=170667a&w=0&h=DEZLCfAxNFNcbrKHlqSPraV_bCVMdH8JphruHsWUQOc="); 
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 50%;
    z-index: -1; 
}
</style>

<head>
	<meta charset="UTF-8">
	<title>Cher's Closet</title>
</head>
<div class="background">
<body > </body>
</div>

	<div class="container">

	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'header.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'filters.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'buttons.css' %}" />

	<header>
		<h1>
			<b><center>Cher's Closet</center></b>
		</h1>
		
		<div class = 'nav'>
		<ul>
		<li><a href="{% url "home" %}">HOME</a></li>
		<li><a href="{% url "about" %}">OUR INSPIRATION</a></li>
		<li><a href = "{% url "browse_products" %}">BROWSE PRODUCTS</a></li>
		<li><a href = "{% url "browse_outfits" %}">BROWSE OUTFITS</a></li>
		<li><a href = "{% url "my_closet" %}">MY CLOSET</a></li>
		</ul>
	</div>
	</header>

	<div id = "main">
		<center><div id="text">Choose a closet:</div> 
		<form action="/viewCloset/" method="get">
			 <input name="closetid" type="text"> 
			 <input type="submit" value="Display Closet">
		</form>
		</center>
	</div>

	</div>
</body>
</html>