<html lang="en">
<style>
{% load nordstrom_extras %}

#imagewithcaption {
float:left;
width: 225px;
height: 400px;
text-align:center;
font-family: "Optima", Helvetica, sans-serif; 
display:inline-block;
vertical-align: top
}

#closetname{
font-size: 18px; 
padding: 10px;
}

input[type=submit] {
    margin: 20px;
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    font-size: 12px;    
    display: inline-block; 
}

</style>

{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'header.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'filters.css' %}" />

<head>
	<meta charset="UTF-8">
	<title>Cher's Closet</title>
</head>
<body background="https://s-media-cache-ak0.pinimg.com/736x/4b/99/1a/4b991a18a070d4d84dd77408ac92c074.jpg">

	<header>
		<h1>
			<b><center>Cher's Closet</center></b>
		</h1>
		
		<div class = 'nav'>
		<ul>
		<li><a href="{% url "home" %}">HOME</a></li>
		<li><a href="{% url "about" %}">OUR INSPIRATION</a></li>
		<li><a href = "{% url "browse_products" %}">BROWSE PRODUCTS</a></li>
		<li><a href = "{% url "browse_outfits" %}">BROWSE OUTFITS</a></li>
		<li><a href = "{% url "my_closet" %}">MY CLOSET</a></li>
		</ul>
		</div>
	</header>


	<div class="sidebar">
		
	</div>
	
	<div id = "main">
	<div id="closetname"> Inside Closet {{ results.0 }} </div>
	<form action="/viewOutfits/" method="get">
		 <input type="hidden" name="closetid" value={{ results.0 }}> 
		 <input type="submit" value="View Outfits">
	</form>
	<form action="/createMyOutfit/" method="get">

		{% for i in results.1 %}
		<div id="imagewithcaption">
		<img src={{ i }} width="197px" height="304px"/>
		<br>
		{{ results|index:3|index:forloop.counter0 }} <br>
		{{ results|index:2|index:forloop.counter0 }}
		<!--<input id="pid" type="checkbox" name="pids[]" value={{ results|index:4|index:forloop.counter0}} /> -->
		</div>


		<!-- <input id="type" type="checkbox" name="outfit[]" value={{ i }} />{{ i }}<br> -->
		<!-- <img src={{ i }} width="197px" height="304px"> -->
		{% endfor %}
		<br>
		<br/>
	</form>
	</div>

			
</body>
</html>