#main{
    margin: 10px; 
    padding: 20px 20px;
    background-color: #F0F8FF;
    overflow: scroll;
    font-family: "Optima", Helvetica, sans-serif; 
}
fieldset{
	float: left;
	width: 20%;
	height: 30%;
	overflow: scroll;

}
input[type=submit] {
	margin: 20px;
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    font-size: 16px; 	
}
