h1{
	font-family: "Optima", Helvetica, sans-serif;
	letter-spacing: 10px;
	font-size: 40px; 
	padding: 10px;
	margin: 0; 
}
header{
	background-color: white; 
}
ul{
	margin: 0;
    padding: 0;
    text-align: center
}
li{
	display: inline;
    list-style: none; 
}
.nav{
	background-color: white; 
	overflow: hidden;
}
.nav a{
	display: inline-block;	
	list-style-type: none;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 18px;
	font-family: "Optima", Helvetica, sans-serif; 
	position: relative;

}
.nav a:before{
content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}
a:hover:before{
	visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.nav a:hover{
	background-color: #ddd;
	color: black;
}

.nav a.active{
	background-color: #ddd;
	color: black;
}
.background{
	background-image: url("http://media.istockphoto.com/vectors/retro-80s-seamless-pattern-background-vector-id484670778?k=6&m=484670778&s=170667a&w=0&h=DEZLCfAxNFNcbrKHlqSPraV_bCVMdH8JphruHsWUQOc="); 
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 50%;
    z-index: -1; 
}
